/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
.header {
    background-color: #3C3C3C;
    color: #ffffff;
}

.margin-auto {
    margin: 0 auto;
}

.online {
    background-color: #5AEC90;
    color: #ffffff;
}

.offline {
    background-color: #ff0000;
    color: #ffffff;
}

.location {
    color: #F8739F;
    font-weight: 800;
}